<div align="center"> 
    Санкт-Петербургский государственный университет
</div>
<div align="center"> 
    Saint-Petersburg State University
</div>

<br/><br/>  <br/><br/>

<div align="center">  
    Кафедра физической механики
</div>

<center><b>Отчет</b></center>
<center><b>По лабораторной работе №4 <br/> Экспериментальная проверка принципа эквивалентности масс
 </b></center>
<br/><br/>  <br/><br/>
<center>Дисциплина <br/> Методы измерений и электромеханические системы <center>
    

<div align="right">  
    Выполнил: <br/> студент группы 251 <br/> Осянин Д.А.
</div>
    
  <center>Санкт-Петербург <br/> 2024 <center>

### Задачи

1. Проверка принципа эквивалентности масс.
2. Измерение ускорения свободного падения.
3. Знакомство с методом измерения интервалов времени между
импульсами частотомером-хронометром ЧЗ-32.

### Установка 

<img src="setup_4.jpg" alt="drawing" width="600"/>

### Эксперементальные данные

In [98]:
import pandas as pd

table1 = pd.read_csv("main.csv", index_col=0)
print("Время падения шарика от верхнего луча до нижнего для различных материалов")
table1

Время падения шарика от верхнего луча до нижнего для различных материалов

     Алюминий   Латунь    Сталь   Дерево Плексиглас   Свинец
№
NaN     t, мс    t, мс    t, мс    t, мс      t, мс    t, мс
1.0   152.554  152.734  152.357  153.378    152.670  152.698
2.0   151.398  151.856  152.308  154.037    153.585  153.158
3.0   152.135  152.286  152.415  151.967    152.848  152.791
4.0   153.418  152.203  153.118  153.598    152.783  153.083
5.0   153.134  152.935  152.660  153.297    152.769  152.487
6.0   152.736  152.537  152.415  152.928    153.662  152.786
7.0   152.181  152.621  152.837  153.934    153.622  152.655
8.0   151.571  152.414  151.757  154.141    153.654  153.263
9.0   152.229  152.112  151.159  153.019    153.735  152.618
10.0  152.021  152.003  151.840  153.009    153.157  153.371
11.0  152.130  152.045  152.201  153.291    153.299  152.808
12.0  151.792  152.147  152.208  153.025    153.196  152.881
13.0  151.755  152.413  152.235  152.887    154.018  153.246
14.0  151.703  152.751  152.136  153.080    153.386  153.530
15.0  152.583  152.635  152.896  153.322    153.187  152.341
16.0  151.981  151.729  152.109  153.190    154.575  152.911
17.0  152.314  152.681  152.357  153.256    153.285  152.933
18.0  153.078  151.763  152.132  153.413    153.551  152.592
19.0  152.158  152.794  152.449  153.283    154.011  152.957
20.0  152.204  152.103  152.333  153.825    153.266  152.803
21.0  151.750  152.230  153.413  153.058    153.783  152.532
22.0  152.409  151.832  152.516  153.595    154.890  152.519
23.0  152.384  152.414  151.884  153.208    153.550  153.235
24.0  151.967  151.668  152.160  152.928    152.873  152.722
25.0  151.864  151.690  152.163  153.055    153.269  152.812
26.0  152.822  152.971  152.185  153.198    154.127  153.277
27.0  152.913  151.834  151.981  153.648    152.786  153.654
28.0  151.897  151.595  152.305  152.776    152.952  152.637
29.0  152.299  151.907  152.400  153.329    153.235  151.962
30.0  152.915  152.562  152.731  152.865    153.681  152.983

In [99]:
import pandas as pd

table2 = pd.read_csv("data.csv", index_col=0)
table2

             Вещество   Плотность  Диаметр     Масса
№ п/п
NaN               NaN  10^3 кг/м3  10^-3 м  10^-6 кг
1.0    дерево(береза)         0.7        1    0.3665
2.0        плексиглас        1.18        1    0.6178
3.0       дуралюминий        2.79        1    1.4608
4.0             сталь         7.9        1    4.1364
5.0            латунь         8.5        1    4.4506
6.0            свинец       11.34        1    5.9376

### Обработка результатов

1. Вычисление массы используемых в опыте шариков по формуле: m=V*ρ, где ρ – плотность вещества, из которого изготовлен шарик, V – объем шарика (размеры и плотность взяты из указаний в пособии). <br/>
Будем считать объем по известной формуле объема шара: <br/>
$V_{шара} = \frac {4}{3} \pi R^3$ при R = 5 мм. <br/>
2. Нахождение среднего значения времени полета шариков по формуле: <br/>
$\overline t = \frac {\sum \limits_{i=1}^n t_i} {n} $

In [100]:
#table1.columns[0]
#table1[table1.columns[0]].to_list()[1:]
names = ["Алюминий", "Латунь", "Сталь", "Дерево", "Плексиглас", "Свинец"]
time_data = {}
for n in names:
    time_data[n] = list(map(float, table1[n].to_list()[1:]))
average_val = [sum(time_data[key])/len(time_data[key]) for key in time_data]

average_data = {"Вещество": ["t м/c"], }
i  =0
for n in names:
    average_data[n] = average_val[i]
    i+=1

table_average = pd.DataFrame(average_data)
table_average.to_csv("table_a.scv", index = False)
table3 = pd.read_csv("table_a.scv", index_col=0)
print("Получим средние значения")
table3

Получим средние значения

          Алюминий      Латунь    Сталь      Дерево  Плексиглас      Свинец
Вещество
t м/c     152.2765  152.248833  152.322  153.251333  153.446833  152.874833

3. Найдем стандартную погрешность измерений по формуле $\Delta t = \sqrt {\frac {\sum \limits_{i=1}^n d_i^2} {n(n-1)} }, где \: d_i = t_i - \overline t $

In [101]:
N = 30
dev_data = {"Вещество": ["$ \Delta t мc$"], }
for n in names:
    dev_data[n] = ((sum([(t-average_data[n])**2 for t in time_data[n]]))/(30*(30-1)))**0.5

table_dev = pd.DataFrame(dev_data)
table_dev.to_csv("table_d.scv", index = False)
table4 = pd.read_csv("table_d.scv", index_col=0)
print("Стандартная погрешность времени падения")
table4

Стандартная погрешность времени падения

                Алюминий    Латунь     Сталь    Дерево  Плексиглас    Свинец
Вещество
$ \Delta t мc$  0.091106  0.074824  0.077416  0.078063    0.096624  0.066574

4. Вычислим ускорение свободного падения g по формуле $g = \frac {2(h-v_0 t)} {t^2} $ , где $ h = 0.272 \pm 0.001 м, v_0 = 1.050 \pm 0.005 м/c $

In [102]:
h = 0.272
v = 1.050
g_list = list()
for n in names:
    g_list.append((2*(h-v*average_data[n]/1000))/(average_data[n]/1000)**2)
g_data = {"№ п/п": range(1, 7), "Вещество": names, "g, м/c": g_list}
g_table = pd.DataFrame(g_data)
g_table.to_csv("table5.csv", index = False)
table5 = pd.read_csv("table5.csv", index_col = 0)
print("Вычисление ускорения свободного падения ")
table5

Вычисление ускорения свободного падения

         Вещество    g, м/c
№ п/п
1        Алюминий  9.669573
2          Латунь  9.675595
3           Сталь  9.659679
4          Дерево  9.459783
5      Плексиглас  9.418258
6          Свинец  9.540267

Для погрешности измерений пользуемся формулой $\Delta g = \sqrt { (\frac {-4h} {t^3} + \frac {v_0} {t^2} )^2 (\Delta t)^2 + (\frac {2}{3t^2})^2 (\Delta h)^2 + (\frac {-2}{3t})^2(\Delta v_0)^2 } $

In [103]:
d_h = 0.0011
d_v = 0.0051 
delta_g_list = list()
def g(h, t, v, d_t, d_h, d_v):
    return (( (-4*h/(t**3) + v/(t**2))**2 )*d_t**2 + (2/(3*t**2))**2 * (d_h)**2 + (-2/(3*t))**2 * (d_v)**2)**0.5
for n in names:
    delta_g_list.append(g(h, average_data[n], v, dev_data[n], d_h, d_v ))
delta_g_data = {"№ п/п": range(1,7),"Вещество": names, "$\Delta g \: м/c^2$" : delta_g_list}
delta_g_table = pd.DataFrame(delta_g_data)
delta_g_table.to_csv("table6.csv", index=False)
table6 = pd.read_csv("table6.csv", index_col = 0)
print("Стандартная погрешность ускорения свободного падения")
table6

Стандартная погрешность ускорения свободного падения

         Вещество  $\Delta g \: м/c^2$
№ п/п
1        Алюминий             0.000023
2          Латунь             0.000023
3           Сталь             0.000023
4          Дерево             0.000022
5      Плексиглас             0.000023
6          Свинец             0.000022

### Анализ возможных ошибок: 
Основным источником систематических ошибок является сопротивление воздуха, зависящее от массы шаров.

### Вывод
В ходе проделанной работы я проверил принцип эквивалентности масс, проанализировал разность в ускорении свободного падения тел разной плотности, но одинаковых размеров, определил погрешность косвенных
измерений и познакомился с основными принципами работы с методом
измерения интервалов времени между импульсами частотомером –
хронометром Ч3-32.